<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icetech.paycenter.mapper.ParkWeixinDao">
  <resultMap id="BaseResultMap" type="com.icetech.paycenter.domain.ParkWeixin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="park_code" jdbcType="VARCHAR" property="parkCode" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="api_key" jdbcType="VARCHAR" property="apiKey" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="refund_notify_url" jdbcType="VARCHAR" property="refundNotifyUrl" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="cert_path" jdbcType="VARCHAR" property="certPath" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, park_code, app_id, api_key, mch_id, app_secret,refund_notify_url,notify_url, cert_path, status, update_time, update_user
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ice_park_weixin
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByParkCode" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from ice_park_weixin
      where park_code = #{parkCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from ice_park_weixin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icetech.paycenter.domain.ParkWeixin">
    insert into ice_park_weixin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parkCode != null">
        park_code,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="apiKey != null">
        api_key,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="appSecret != null">
        app_secret,
      </if>
      <if test="refundNotifyUrl != null">
        refund_notify_url,
      </if>
      <if test="notifyUrl != null">
        notify_url,
      </if>
      <if test="certPath != null">
        cert_path,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parkCode != null">
        #{parkCode,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null">
        #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="refundNotifyUrl != null">
        #{refundNotifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="certPath != null">
        #{certPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.icetech.paycenter.domain.ParkWeixin">
    update ice_park_weixin
    <set>
      <if test="parkCode != null">
        park_code = #{parkCode,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null">
        api_key = #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="refundNotifyUrl != null">
        refund_notify_url = #{refundNotifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="certPath != null">
        cert_path = #{certPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>